[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"./src" = "*"
b7287bc = {path = "./src",editable = true}

[dev-packages]
black = "==18.6b4"
neovim = "*"
"zest.releaser" = {extras = ["recommended"]}
setuptools-git = "*"
pytest-contexts = "*"
pytest-watch = "*"
expects = "*"

[requires]
python_version = "3.7"
